<!doctype html>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
    <script src="js/searchFactory.js"></script>
  </head>
  <h1>Github user search</h1>
  <body ng-controller="GitUserSearchController as searchCtrl">
    <div>
      <form class="form-horizontal" name="searchForm">
        <input type="text" ng-model="searchCtrl.searchTerm" ng-change="searchForm.$valid && searchCtrl.doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" required>
        <button class="btn" ng-click="searchCtrl.doSearch()">Search</button>
      </form>
      <p>Your last search: {{searchCtrl.searchTerm}}</p>
      <ul class="list-group">
        <li ng-repeat="user in searchCtrl.searchResult.items">
          <img ng-src="{{user.avatar_url}}&s=50" width="42" height="42">
          <a ng-href="{{user.html_url}}">{{user.login}}</a>
        </li>
      </ul>
    </div>
  </body>
</html>
